{% extends "../base.html" %}
{% load static %}
{% block title %}교육·훈련{% endblock title %}
{% block content %}
<!-- main-container start -->
<!-- ================ -->
<section
  class="main-container border-clear padding-bottom-clear text-noto text-md font-sm"
  style="margin-bottom:70px;"
>
  <div class="container">
    <div class="row">
      <!-- main start -->
      <!-- ================ -->
      <div class="main col-12">
        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="title text-bold text-default text-center">
          교육·훈련
        </h1>
        <div class="separator mt-0 mb-20 col-3"></div>
        <!-- page-title end -->

        <div class="image-box space-top style-4">
          <div class="row grid-space-0">
            <div class="col-lg-6">
              <div
                class="overlay-container"
                style="display:flex;justify-content:center;align-items:center;"
              >
                <img
                  src="{% static 'img/bibleworkbook.jpg' %}"
                  style="height:340px;"
                  alt="어? 성경이 읽어지네!"
                />
                <div class="overlay-to-top">
                  <p class="small margin-clear">
                    <em>
                      한빛교회 성경일독학교 교제<br />
                      어? 성경이 읽어지네! - 저자: 이애실
                    </em>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="body">
                <div class="pv-30 hidden-lg-down"></div>
                <h3>성경일독학교</h3>
                <div class="separator-2"></div>
                <div class="post-info">
                  <ul class="list-icons">
                    <li>
                      <i class="fa fa-check-square-o"></i>
                      시간: 매주 주일 약 1시간(24주간 진행)
                    </li>
                    <li>
                      <i class="fa fa-check-square-o"></i>
                      강사: 오정기 담임목사
                    </li>
                    <li>
                      <i class="fa fa-check-square-o"></i>
                      장소: 1층 카페
                    </li>
                  </ul>
                </div>
                <p class="margin-clear">
                  '어? 성경이 읽어지네'는 이야기 형식으로 읽어질 수 있도록 성경
                  목록을 재 배열하여 성경의 이해와 읽기를 수월하게 도와주는
                  책으로 전국적으로 많은 성도들의 호응을 얻고 있으며 성경읽기
                  전문강사로 충서지부의 여러 세미나 및 강의를 진행하는
                  담임목사의 강의를 통해 성경을 보다 폭넓게 이해하고 읽어갈 수
                  있도록 교육받는 과정입니다.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="image-box style-4">
          <div class="row grid-space-0">
            <div class="col-lg-6 order-lg-2">
              <div
                class="overlay-container"
                style="display:flex;justify-content:center;align-items:center;"
              >
                <img
                  src="{% static 'img/people.jpg' %}"
                  style="height:340px;"
                  alt="예수님의 사람"
                />
                <div class="overlay-to-top">
                  <p class="small margin-clear">
                    <em>
                      한빛교회 제자훈련 교제 <br />
                      예수님의 사람 Ⅰ·Ⅱ - 저자: 유기성
                    </em>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 order-lg-1">
              <div class="body text-right">
                <div class="pv-30 hidden-lg-down"></div>
                <h3>제자훈련</h3>
                <div class="separator-3"></div>
                <div class="post-info">
                  <ul class="list-icons">
                    <li>
                      시간: 매주 토요일 저녁 7시(12주간 진행)
                      <i class="fa fa-check-square-o"></i>
                    </li>
                    <li>
                      강사: 오정기 담임목사
                      <i class="fa fa-check-square-o"></i>
                    </li>
                    <li>
                      장소: 1층 비전홀
                      <i class="fa fa-check-square-o"></i>
                    </li>
                  </ul>
                </div>
                <p class="margin-clear">
                  선한목자교회 담임목사인 유기성 목사가 집필한 이 책은 십자가를
                  통과함으로써 참다운 주님의 제자가 되는 삶의 방향을 제시해
                  줍니다. 약 12주간의 과정을 통해 이 땅에서 예수님의 사람으로
                  산다는 것이 무엇인지를 체득하여 예수님의 사람으로 굳건히 서는
                  성도가 될 수 있도록 훈련받는 과정입니다.
                </p>
                <br />
              </div>
            </div>
          </div>
        </div>
        <div class="image-box style-4">
          <div class="row grid-space-0">
            <div class="col-lg-6">
              <div class="overlay-container" style="display:flex;justify-content:center;align-items:center;">
                <img
                  src="{% static 'img/newfamily.jpg' %}"
                  style="height:340px;"
                  alt="새가족모임 교재"
                />
                <div class="overlay-to-top">
                  <p class="small margin-clear">
                    <em>
                      새가족모임 교재 <br />
                      유일한 구원자 예수그리스도 - 저자: 옥한흠
                    </em>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="body">
                <div class="pv-30 hidden-lg-down"></div>
                <h3>새신자훈련</h3>
                <div class="separator-2"></div>
                <div class="post-info">
                  <ul class="list-icons">
                    <li>
                      <i class="fa fa-check-square-o"></i>
                      시간: 매주 주일 약 1시간(5주간 진행)
                    </li>
                    <li>
                      <i class="fa fa-check-square-o"></i>
                      강사: 오정기 담임목사
                    </li>
                    <li>
                      <i class="fa fa-check-square-o"></i>
                      장소: 1층 목양실
                    </li>
                  </ul>
                </div>
                <p class="margin-clear">
                  그리스도의 사랑을 나누는 아름다운 교제의 시간을
                  통해 복음에 대한 이해와 구원의 확신을 얻고 신앙 생활에서
                  일어날 수 있는 여러 가지 문제에 대한 대안을 생각함을 통해
                  교회를 좀더 깊이 이해하며 건강한 신앙생활을 할 수 있도록 
                  준비하는 과정입니다.
                </p>
                <br />
              </div>
            </div>
          </div>
        </div>
        <div class="image-box style-4">
          <div class="row grid-space-0">
            <div class="col-lg-6 order-lg-2">
              <div
                class="overlay-container"
                style="display:flex;justify-content:center;align-items:center;"
              >
                <img
                  src="{% static 'img/school.png' %}"
                  style="height:340px;"
                  alt=""
                />
                <div class="overlay-to-top">
                  <p class="small margin-clear">
                    <em>
                      주일학교 교재 <br />
                      성결한 그리스도의 몸(BCM) - 기독교대한성결교회</em
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 order-lg-1">
              <div class="body text-right">
                <div class="pv-30 hidden-lg-down"></div>
                <h3>주일학교</h3>
                <div class="separator-3"></div>
                <div class="post-info">
                  <ul class="list-icons">
                    <li>
                      시간: 매주 주일 오전 10시 20분
                      <i class="fa fa-check-square-o"></i>
                    </li>
                    <li>
                      인도: 인은경 사모
                      <i class="fa fa-check-square-o"></i>
                    </li>
                    <li>
                      장소: 1층 비전홀
                      <i class="fa fa-check-square-o"></i>
                    </li>
                  </ul>
                </div>
                <p class="margin-clear">
                  성결한 그리스도의 몸(BCM)은 기독교대한성결교회에서 출간한
                  성경공부 교재로 연령, 발달에 맞게 구성된 성경이야기로
                  성경공부를 쉽고 재미있게 접할 수 있도록 만들어진 교재입니다.
                  이를 통해 우리 아이들이 체계적이고 올바른 신앙교육을 체득하고
                  건강한 그리스도인으로 성장할 수 있도록 교육합니다.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- main end -->
    </div>
  </div>
</section>
<!-- main-container end -->
{% endblock content %}
