<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
<!-- ================ -->
<footer id="footer" class="clearfix dark text-white text-noto">
  <!-- .footer start -->
  <!-- ================ -->
  <div class="footer">
    <div class="container">
      <div class="footer-inner">
        <div class="row justify-content-xl-center">
          <div class="col-xl-12 col-12">
            <div class="row">
              <div class="col-lg-3">
                <div class="footer-content">
                  <h2 class="title">Hanbit Church</h2>
                  <ul class="list-icons">
                    <li class="py-1">
                      <i class="fa fa-map-marker pr-10 text-default"></i>
                      충남 예산군 삽교읍 수촌학재길 141
                    </li>
                    <li class="py-1">
                      <i class="fa fa-phone pr-10 text-default"></i>
                      041-337-4971
                    </li>
                    <li class="py-1">
                      <a href="mailto:email@domain.com"
                        ><i class="fa fa-envelope-o pr-10"></i>
                        gebba@hanmail.net</a
                      >
                    </li>
                  </ul>
                  <!-- <a
                    class="collapsed map-show btn-lg-link padding-hor-clear"
                    data-toggle="collapse"
                    href="#collapseContact"
                    aria-expanded="false"
                    aria-controls="collapseContact"
                  >
                    <i class="fa fa-envelope pr-20"></i> Contact
                  </a> -->
                </div>
              </div>
              <div class="col-lg-3">
                <div class="footer-content">
                  <h2 class="title">Family Site</h2>
                  <nav>
                    <ul class="nav flex-column list-style-icons">
                      <li class="nav-item">
                        <a class="nav-link py-1" href="http://www.kehc.org/home"
                          ><i class="fa fa-chevron-circle-right"></i>
                          기독교대한성결교회 총회</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link py-1"
                          href="http://www.kehcnews.co.kr/"
                          ><i class="fa fa-chevron-circle-right"></i>
                          한국성결신문</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link py-1"
                          href="https://www.stu.ac.kr/CmsHome/MainDefault.eznic"
                          ><i class="fa fa-chevron-circle-right"></i>
                          서울신학대학교</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link py-1"
                          href="http://edc.kehc.org/kedc/index_tong.asp"
                          ><i class="fa fa-chevron-circle-right"></i>
                          총회교육원</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link py-1" href="http://www.chschool.org/"
                          ><i class="fa fa-chevron-circle-right"></i>
                          교회학교전국연합회</a
                        >
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="footer-content">
                  <h2 class="title">
                    Map
                    <span class="text-default text-md font-sm ml-1"
                      ><a
                        href="https://map.naver.com/?etext=한빛교회&elng=b79dfcf25b7ee8c1bad022abf84e0dea&menu=route&elat=f349368d6add24a463deda9a600208ef&pathType=1"
                        style="text-decoration:none;"
                        ><i class="fa fa-map"></i></a
                    ></span>
                  </h2>
                  <div class="row justify-content-lg-center mx-1 bg-light">
                    <div id="map" style="width:100%;height:135px;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-12">
            <div class="clearfix hidden-sm-up"></div>
            <section id="collapseContact" class="collapse">
              <div class="row justify-content-xl-center">
                <div class="col-xl-10">
                  <div class="footer-content">
                    <h2 class="title">Contact</h2>
                    <form class="margin-clear">
                      <div class="row">
                        <div class="col-md-6 form-group has-feedback mb-10">
                          <label class="sr-only" for="name2">Name</label>
                          <input
                            type="text"
                            class="form-control"
                            id="name2"
                            placeholder="Name"
                            required
                          />
                          <i class="fa fa-user form-control-feedback pr-4"></i>
                        </div>
                        <div class="col-md-6 form-group has-feedback mb-10">
                          <label class="sr-only" for="email2"
                            >Email address</label
                          >
                          <input
                            type="email"
                            class="form-control"
                            id="email2"
                            placeholder="Enter email"
                            required
                          />
                          <i
                            class="fa fa-envelope form-control-feedback pr-4"
                          ></i>
                        </div>
                      </div>
                      <div class="form-group has-feedback mb-10">
                        <label class="sr-only" for="message2">Message</label>
                        <textarea
                          class="form-control"
                          rows="4"
                          id="message2"
                          placeholder="Message"
                          required
                        ></textarea>
                        <i class="fa fa-pencil form-control-feedback"></i>
                      </div>
                      <input
                        type="submit"
                        value="Send"
                        class="margin-clear submit-button radius-50 btn btn-default"
                      />
                    </form>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div> -->

      </div>
    </div>
  </div>
  <!-- .footer end -->

  <!-- .subfooter start -->
  <!-- ================ -->
  <div class="subfooter">
    <div class="container">
      <div class="subfooter-inner">
        <div class="row">
          <div class="col-md-12">
            <p class="text-center">
              Copyright © 2021 THE LIGHT community church. All rights reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .subfooter end -->
</footer>
<!-- footer end -->
