{% extends "../base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

<!-- section start -->
<!-- ================ -->
<section
  id="section-1"
  class="section fixed-bg"
  style="background-image: url(/static/images/sky.jpg)"
>
  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-lg-12">
        <div class="text-center text-white">
          <h1 class="text-muli text-sm">
            Arise, shine, for your light has come,<br />
            and the glory of the LORD rises upon you
          </h1>
          <div class="separator"></div>
          <p class="text-noto text-md">
            그리스도인의 올바른 정체성과 섬김을 통해 참된 교회를 이루어가는
            한빛교회
          </p>
        </div>
        <div class="text-center text-white next-nav">
          <a href="#section-2" id="next-page">
            <span></span><span></span><span></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section end -->

<!-- main-container start -->
<!-- ================ -->
<section id="section-2" class="main-container padding-bottom-clear">
  <div class="container">
    <div class="row">
      <!-- main start -->
      <!-- ================ -->
      <div class="main col-12">
        <h1 class="title text-dance text-bold text-default text-center">
          About
        </h1>
        <div class="separator mb-4"></div>
        <div class="row">
          <div class="col-lg-6 text-noto text-md font-sm">
            <p>
              ‘한빛’은 하나님의 이름이며 우리 공동체의 이름입니다. 이 곳에
              주님의 임재가 가득하기를, 사명 붙들기를, 주 안에서 하나 되기를
              갈망합니다. 하나님을 기쁘시게 하며 세상을 살리는 빛이 되기를
              소망합니다.
            </p>
            <p>
              오늘날 교회가 좀 더 큰 것, 우수한 조직력, 회원을 얻는 능력, 훌륭한
              교회 건물과 같은 외적인 형태를 추구하는데 치우치고 있으며, 올바른
              신앙으로 인도하는 것을 수행하는 것이 아니라, 제도적인 것을
              통제하고 지배하는 곳이라고 비판받고 있는 지금 하나님을 하나님되게
              교회를 교회되게 하기 위한 노력을 통해 교회의 본질을 실현시켜
              나가야만 합니다. 이에 따라 한빛교회는 다음과 같은 목표를 수립하고
              실천해 나가고 있습니다.
            </p>
            <ul class="list-icons">
              <li><i class="fa fa-check-square-o"></i> 교회의 교회됨</li>
              <li>
                <i class="fa fa-check-square-o"></i> 그리스도인의 올바른 정체성
                확립
              </li>
              <li>
                <i class="fa fa-check-square-o"></i> 구원에 대한 굳은 믿음
              </li>
              <li>
                <i class="fa fa-check-square-o"></i> 받은 은혜에 대한 응답
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <div class="overlay-container overlay-visible">
              <img src="../assets/images/hanbitchurch.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <!-- main end -->
    </div>
  </div>
</section>

<!-- main-container start -->
<!-- ================ -->
<section class="main-container bg-light text-noto text-md font-sm mt-20">
  <div class="container">
    <div class="row">
      <!-- main start -->
      <!-- ================ -->
      <div class="main col-12">
        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="title text-dance text-bold text-default text-center">
          Korea Evangelical Holiness Church
        </h1>
        <div class="separator"></div>
        <p class="text-center">
          한빛교회는 기독교대한성결교회 소속으로 1907년 김상준, 정빈 양씨가
          ‘평강의 하나님이 친히 너희로 온전히 거룩하게 하시고<br />
          또 너희 온 영과 혼과 몸이 우리 주 예수 그리스도 강림하실 때에 흠 없이
          보전되기를 원하노라’ (살전 5:23)의 말씀에 근거한 중생, 성결, 신유,
          재림의 사중복음을 전파하기 시작하면서 현재까지 부흥·성장해온
          교단입니다.
        </p>
        <!-- page-title end -->

        <!-- timeline grid start -->
        <!-- ================ -->
        <div class="timeline clearfix">
          <div class="timeline-title">
            <img
              src="../assets/images/logo_c.png"
              alt="대한기독교성결교회 로고"
              style="width: 100px"
            />
          </div>

          <!-- timeline grid item start -->
          <div class="timeline-item">
            <!-- blogpost start -->
            <article class="blogpost shadow-2 light-gray-bg">
              <header>
                <h2 class="text-bold text-danger">
                  중생
                  <span class="text-sm text-muli ml-2 text-secondary"
                    >Regeneration</span
                  >
                </h2>
              </header>
              <div class="blogpost-content">
                <p>
                  주 예수께서 니고데모에게 가르치신 중생의 도리는 실로 기독교의
                  입문이며 천국시민의 자격을 갖추는 유일한 도리이다. [거듭나지
                  아니하면 하나님 나라를 볼 수 없느니라](요3:3). 중생은 곧
                  영으로 나는 일이니 신비에 속한 영적 변화이며 모든 사람이
                  자기의 죄를 회개하고 십자가에 달려 속죄의 피를 흘리신 예수
                  그리스도를 믿을 때, 성령의 역사로 새 생명을 얻어 그 사람의
                  심령과 인격 전체에 근본적 일대 변혁 을 일으키는 것이니 이는
                  진실로 천국복음이다.
                </p>
              </div>
            </article>
            <!-- blogpost end -->
          </div>
          <!-- timeline grid item end -->

          <!-- timeline grid item start -->
          <div class="timeline-item pull-right">
            <!-- blogpost start -->
            <article class="blogpost shadow-2 light-gray-bg">
              <header>
                <h2 class="text-bold text-white text-border">
                  성결
                  <span
                    class="
                      text-sm text-muli text-border-none
                      ml-2
                      text-secondary
                    "
                  >
                    Sanctification
                  </span>
                </h2>
              </header>
              <div class="blogpost-content">
                <p>
                  이는 교인이 받을 성령 세례를 가리킴이니 주 예수께서 [요한은
                  물로 세례를 베풀었으나 너희는 몇날이 못 되어 성령으로 세례를
                  받으리라] (행1:5)고 약속하신 대로 오순절에 제자들은 성령의
                  세례, 즉 성결의 은혜를 체험하였으니(행2:1-4) 우리도 모든
                  사람을 중생으로 인도하고 중생한 처지에 있는 신자들은 성결의
                  은혜를 체험하도록 인도한다. [모든 사람으로 더불어 화평함과
                  거룩함을 좇으라 이것이 없이는 아무도 주를 보지 못하리라]
                  (히12: 14).
                </p>
              </div>
            </article>
            <!-- blogpost end -->
          </div>
          <!-- timeline grid item end -->

          <!-- timeline grid item start -->
          <div class="timeline-item">
            <!-- blogpost start -->
            <article class="blogpost shadow-2 light-gray-bg">
              <header>
                <h2 class="text-bold text-lightgreen">
                  신유
                  <span class="text-sm text-muli ml-2 text-secondary"
                    >Divine Healing</span
                  >
                </h2>
              </header>
              <div class="blogpost-content">
                <p>
                  이는 신자가 하나님의 보호로 항상 건강하게 지내는 것과 또는
                  병들었을 때에 하나님께 기도함으로 나음을 얻은것을 가리킴이니
                  이 은사는 우리 육신을 안전케 하는 복음이다. 그러므로 주
                  예수께서 모든 신자들에게 이적이 따를 것을
                  언명하였으니(막16:17-18) 병 낫기 위하여 기도한다든가 안수하는
                  일은 당연한 특권이다. 그러나 신유를 믿는다 하여 의약을
                  부인하는 것은 아니다.
                </p>
              </div>
            </article>
            <!-- blogpost end -->
          </div>
          <!-- timeline grid item end -->

          <!-- timeline grid item start -->
          <div class="timeline-item pull-right">
            <!-- blogpost start -->
            <article class="blogpost shadow-2 light-gray-bg">
              <header>
                <h2 class="text-bold text-blue2">
                  재림
                  <span
                    class="
                      text-sm text-muli text-border-none
                      ml-2
                      text-secondary
                    "
                  >
                    Second Coming
                  </span>
                </h2>
              </header>
              <div class="blogpost-content">
                <p>
                  구약성경의 예언의 중심이 그리스도의 수육탄생(受肉誕生)이라면
                  신약 성경의 중심은 그리스도의 재림이라 할 수 있나니 우리는
                  공중재림 (살전4:16-18)과 지상재림(행1:11)을 믿는다.
                  요한계시록은 재림을 전적으로 계시한 성경으로 마지막에 [내가
                  속히 오리라] 한 말씀이 세번이나 거듭 기록되었다
                  (계22:7,12,20). 재림은 신앙생활의 요소이며 (살전3:13) 소망이요
                  (살전2:19-20) 경성이 된다 (마24:44,25:13).
                </p>
              </div>
            </article>
            <!-- blogpost end -->
          </div>
          <!-- timeline grid item end -->
        </div>
        <!-- main end -->
      </div>
    </div>
  </div>
</section>
<!-- main-container end -->

{% endblock %}
