{% extends "base.html" %}
{% load hitcount_tags %}
{% load static %}
{% block title %}교회소식{% endblock title %}
{% block content %}

<!-- main-container start -->
<!-- ================ -->
<section class="main-container text-noto text-md font-sm">
  <div class="container">
    <div class="row">
      <!-- main start -->
      <!-- ================ -->
      <div class="main col-lg-12">
        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title">{{board.title}}</h1>
        <!-- page-title end -->

        <!-- blogpost start -->
        <!-- ================ -->
        <article class="blogpost full">
          <header>
            <div class="post-info mb-4">
              <span class="post-date">
                <i class="fa fa-calendar-o pr-1"></i>
                <span class="date">{{board.created}}</span>
              </span>
              <span class="submitted">
                <i class="fa fa-user pr-1 pl-1"></i> by
                {{board.author}}
              </span>
              <span class="search">
                <i class="fa fa-search pl-1 pr-1"></i>
                {% get_hit_count for board %}
              </span>
            </div>
          </header>
          <div class="blogpost-content">
            <div
              id="carousel-blog-post"
              class="carousel slide mb-5"
              data-ride="carousel"
            > 
            
              <ol class="carousel-indicators">
                {% for photo in board.get_photos %}
                
                {% if photo.files != "" %}
                <!-- Indicators -->
                <li
                  data-target="#carousel-blog-post"
                  data-slide-to="{{forloop.counter0}}"
                  class="{% if forloop.counter0 == 0 %}active{% endif %}"
                ></li>
                {% endif %}
                  
                {% endfor %}
              </ol>
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                {% for photo in board.get_photos %}
                {% if photo.files != "" %}
                <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                  <div class="overlay-container" style="display:flex;justify-content:center;">
                    <img src="{{photo.files}}" style="max-height:686px;" alt="" />
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>

            <p>
              {{board.content|safe}}
            </p>

            <a href="{% url 'board:board_list' %}" class="btn btn-outline border-secondary text-secondary">목록보기</a>
            {% if board.author == request.user or request.user.is_superuser %}  
            <a href="{% url 'board:edit' board.pk %}" class="btn btn-outline border-success text-success">수정</a>
            <a id="modal_open" class="btn btn-outline border-danger text-danger">삭제</a>
            {% endif %}
              
          </div>
        </article>
        <!-- blogpost end -->
      </div>
      <!-- main end -->
    </div>
  </div>
</section>
<!-- main-container end -->

<!-- Modal -->
<div class="myModal hidden">
  <div class="modal-dialog">
    <form action="{% url 'board:delete' board.pk %}" method="post" id="postDeleteForm">
      {% csrf_token %}
      <div class="modal-content"> 
        <div class="modal-header bg-danger">
          <h4 class="modal-title" id="myModalLabel">[Warning]글 삭제</h4>
          <button type="button" class="close"><span>&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
          <p>{{board.title}}을(를) 삭제하시겠습니까?</p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-sm btn-danger post-delete-btn">삭제</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}