{% extends "base.html" %}
{% load static %}
{% block title %}교회소개{% endblock title %}
{% block content %}
<!-- section start -->
<!-- ================ -->
<section
  class="section fixed-bg"
  style="background-image:url({% static 'img/hht.jpg' %});height:70vh;"
>
  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-lg-12">
        <div class="text-center text-white">
          <h1 class="text-muli text-sm text-border-lg" style="height:10vh;">
            Welcome To
            <span class="text-default text-md">THE LIGHT</span> community church
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container padding-bottom-clear" style="margin-top:30px;">
  <div class="container">
    <div class="row">
      <!-- main start -->
      <!-- ================ -->
      <div class="main col-12">
        <p class="text-noto text-md">
          <span class="text-bold text-secondary" style="font-size:35px;">
            한
          </span>
          빛에는 세 가지 뜻이 있습니다. 첫째로 빛은 유일하신 창조주 하나님이시며
          예수 그리스도이십니다. 교회의 가장 중요한 본질은 하나님의 임재입니다.
          “여호와께서 그에게 이르시되 네 기도와 네가 내 앞에서 간구한 바를 내가
          들었은즉 나는 네가 건축한 이 성전을 거룩하게 구별하여 내 이름을 영원히
          그 곳에 두며 내 눈길과 내 마음이 항상 거기에 있으리니”(왕상9:3) 우리는
          기도하던 솔로몬에게 약속하셨던 하나님의 임재를 믿으며, 그분의 임재가
          우리 안에 가득하기를 갈망합니다.
        </p>
        <p class="text-noto text-md">
          둘째로 빛은 우리들입니다. 우리는 예수님께서 우리를 빛으로 부르신
          사명을 믿습니다. “내가 또 너를 이방의 빛으로 삼아 나의 구원을 베풀어서
          땅 끝까지 이르게 하리라”(사49:6) 사명은 우리의 존재 이유입니다. 우리는
          끝까지 하나님의 말씀을 붙들고 진리와 씨름합니다. 그리고 이 시대에
          교회공동체의 존재 이유를 고민하며 그분의 뜻과 사명을 붙들기를
          갈망합니다.
        </p>
        <p class="ttext-noto text-md">
          셋째로 빛은 하나됨입니다. 우리는 예수님 때문에, 그 분의 사랑의 피로
          인하여 한 몸이 되었습니다. 다른 이유는 없습니다. 빛은 각자의 다양한
          색을 가지고 있지만 하나 되었을 때는 단지 밝음이 됩니다. 자신을
          드러내기보다 남을 드러내주기 때문에 빛은 깊음이 있고 위대함이
          있습니다. 우리는 빛의 자녀로서 자신을 드러내기보다 남을 나보다 더
          빛나게 해주며, 서로 섬김의 종노릇하기를 즐거워하는 공동체입니다.
        </p>
        <p class="ttext-noto text-md">
          한빛은 하나님의 이름이며 우리 공동체의 이름입니다. 우리는 하나님의
          임재가 가득하기를 갈망합니다. 우리는 하나님의 사명을 붙들기를
          갈망합니다. 우리는 주안에서 하나 되기를 갈망합니다. 이로 인하여
          한빛공동체로 모인 우리들이 하나님을 기쁘시게 하며 세상을 살리는 위대한
          빛이 되기를 소망합니다.
        </p>
        <p class="my-2">
          <img src="{% static 'img/peoples.png' %}" alt="한빛교회 단체사진" />
        </p>
      </div>
      <!-- main end -->
    </div>
  </div>
</section>

<!-- main-container start -->
<!-- ================ -->
<section
  class="main-container bg-light text-noto text-md font-sm"
  style="margin-top:70px;"
>
  <div class="container">
    <div class="row">
      <!-- main start -->
      <!-- ================ -->
      <div class="main col-12">
        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="title text-bold text-default text-center">
          예배시간
        </h1>
        <div class="separator mt-0 mb-20 col-3"></div>
        <table class="table table-colored-info mx-3 mt-20">
          <thead class="text-center">
            <tr>
              <th>#</th>
              <th>예배</th>
              <th>시간</th>
              <th>장소</th>
              <th>인도</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr>
              <td>1</td>
              <td>주일예배</td>
              <td>11:00 am</td>
              <td>2층 본당</td>
              <td>오정기 목사</td>
            </tr>
            <tr>
              <td>2</td>
              <td>주일학교</td>
              <td>10:20 am</td>
              <td>1층 비전홀</td>
              <td>인은경 사모</td>
            </tr>
            <tr>
              <td>3</td>
              <td>수요예배</td>
              <td>07:30 pm</td>
              <td>2층 본당</td>
              <td>오정기 목사</td>
            </tr>
            <tr>
              <td>4</td>
              <td>저녁기도회</td>
              <td>08:00 pm</td>
              <td>2층 본당</td>
              <td>-</td>
            </tr>
            <tr>
              <td>5</td>
              <td>새벽기도회</td>
              <td>05:30 am</td>
              <td>1층 비전홀</td>
              <td>오정기 목사</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- main-container end -->

<!-- section start -->
<!-- ================ -->
<section
  class="pv-40 dark-translucent-bg text-noto"
  style="background-image:url({% static 'img/background3.jpg' %});background-position:50% 15%;"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <br />
        <div class="feature-box-2 right">
          <span class="icon default-bg small">
            <i class="fa fa-map-pin"></i>
          </span>
          <div class="body">
            <h4 class="title">
              오시는길 - Map
            </h4>
            <div class="separator-3"></div>
            <div class="row justify-content-lg-center" style="display:flex;justify-content:center;align-items:center;">
              <img src="{% static 'img/navermap.png' %}" alt=""  style="height:225px;width:93%;">
            </div>
            <a
              href="https://map.naver.com/?etext=한빛교회&elng=b79dfcf25b7ee8c1bad022abf84e0dea&menu=route&elat=f349368d6add24a463deda9a600208ef&pathType=1"
              style="text-decoration:none;width:100%;margin:0;padding:0;"
            >
              <button
                type="button"
                class="btn btn-default btn-block"
              >
                <i class="fa fa-car pr-1"></i> 길찾기
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <br />
        <div class="feature-box-2">
          <span class="icon default-bg small">
            <i class="fa fa-map-signs"></i>
          </span>
          <div class="body">
            <h4 class="title">
              오시는길 - 안내
            </h4>
            <div class="separator-2"></div>
            <ul class="list-icons">
              <li>
                <i class="fa fa-bus"></i>
                514-1(롯데A.환승센터.도청옆.덕산중.이지더원A.덕산.삽교)(내포롯데캐슬아파트)
                승차 -> 덕산고등학교 정류장에서 하차 -> 약 903m 도보 이동
              </li>
              <li>
                <i class="fa fa-bus"></i>
                577(환승센터.도청옆.덕산중.이지더원A)(내포롯데캐슬아파트) 승차
                -> 덕산고등학교 정류장에서 하차 -> 약 903m 도보 이동
              </li>
              <li>
                <i class="fa fa-bus"></i>
                545(환승센터.이지더원A.덕산중.이리)(내포롯데캐슬아파트) 승차 ->
                이리 정류장에서 하차 -> 약 565m 도보 이동
              </li>
              <li>
                <i class="fa fa-bus"></i>
                586(롯데A.모아엘가A.LH.중흥A.충남교육청.환승센터.이지더원A.덕산중.이리)(자경마을삼거리)
                승차 -> 이리 정류장에서 하차 -> 약 565m 도보 이동
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
